<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4b38576c-2cee-4f69-b887-d49018fcc847/resourceGroups/UfiksBooks/providers/Microsoft.Web/sites/UfiksBooks</ResourceId>
    <ResourceGroup>UfiksBooks</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ufiksbooks.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ufiksbooks.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>UfiksBooks</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$UfiksBooks</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LibraryContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:contososample-sql.database.windows.net,1433;Initial Catalog=ContosoSample;User ID=null@contososample-sql.database.windows.net;Password=haslo" Name="Data Source=tcp:contososample-sql.database.windows.net,1433;Initial Catalog=ContosoSample;User Id=null@contososample-sql.database.windows.net;Password=haslo;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Rekcja.DAL.LibraryContext, Rekcja" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="LibraryContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:contososample-sql.database.windows.net,1433;Initial Catalog=ContosoSample;User Id=null@contososample-sql.database.windows.net;Password=haslo;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>