@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Library</h1>
    <p class="lead">This is a web app which allow to track when and to who books were borrowed</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Books</h2>
        <p>
            Books is a place where you can add and remove books you own and track to whom and when they are borrowed and manage if book is returned.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Borrowers</h2>
        <p>This is a place where you can find people you borrow books. You can see which books are borrowed to whoom and manage if book is returned</p>
    </div>
</div>